<div class="timer-card card">
  <div class="choose-timer">
    <!--! MAKE ONLY ONE BUTTON ACTIVE !! -->
    <!--! FIX SIZING -->
    <button class="timer25 button" (click)="set25()">25mis</button>
    <button class="timer50 button" (click)="set50()">50mins</button>
  </div>

  <div class="timer">
    <p>{{ minutesLeft }}:{{ secondsLeft }}</p>
  </div>

  <div class="go-buttons">
    <button class="start button" (click)="onStart()">START</button>
    <button class="pause button" (click)="onPause()">PAUSE</button>
  </div>
</div>
