<div class="timer-card card">
  <div class="choose-timer">
    <!--! MAKE ONLY ONE BUTTON ACTIVE !! -->
    <!--! FIX SIZING -->
    <button class="timer25 button" (click)="set25()">25 - 5</button>
    <button class="timer50 button" (click)="set50()">50 - 10</button>
  </div>

  <div>
    <div class="cyc-num">
      <p>no. of cycles:</p>
      <input type="number" step="1" min="1" max="10" value="1" name="cycles" #cyclesInput />
    </div>
    <p>you'll do total: <span>XX</span> hours and <span>XX</span> of work!</p>
  </div>

  <div class="timer">
    <p>{{ minutesLeft }} : {{secondsLeft}}</p>
  </div>

  <div class="go-buttons">
    <button class="start button" (click)="onStart(cyclesInput.value)">START</button>
    <button class="pause button" (click)="onPause()">PAUSE</button>
  </div>
  <p>cycle no. <span> {{noOfCycles + 1}}</span></p>
</div>