@import url("https://fonts.googleapis.com/css2?family=Marvel&family=Shadows+Into+Light&display=swap");

$primary: #7900b1;

a {
  text-decoration: none;
  color: white;
}
nav {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  .logo {
    font-family: "Shadows Into Light", cursive;
    font-size: 1.7em;
  }
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    li {
      font-family: "Marvel", sans-serif;
      font-size: 1.3em;
      margin: 0 0.5em;
    }
  }
}

.active {
  color: $primary;
}
