.container
    display: flex
    align-items: center
    height: 100%
    width: 100%
.card
    display: flex
    flex-direction: column
    background-color: #fff
    align-items: center
    width: 40%
    height: 90%
    margin: 2em
    border: 0 solid black
    border-radius: 5px
    .no-cyc
        display: flex
        padding: 0px

        input
            height: auto
            width: auto
        p
            padding: 0px

.timer-class
    font-family: 'Marvel'

.button
    padding: .7em
    margin: .31em
    background-color: purple
    color: white
    border: 0 solid black
    border-radius: 4px
    cursor: pointer

.timer
    margin: 0
    padding: 0 .7em
    font-size: 6em
    p
        margin: 0
